.DatosWrapper {
  margin: 8px 8px 10px 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}

.pais {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:360px;
  height: 450px;
  border: 1px solid var(--back_DarkGrey);
  color: var(--back_ClearGrey);
  background: var(--back_Pink);
}

.pais h1 {
  text-transform: uppercase;
}

.items-casos {

  display: flex;
}


.item-casos-nro {
  margin-left: 5px;
  color: var(--back_DarkGrey);
}